{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <h1>Sports de montagne,</h1>
    <img src={{ asset("build/images/68410186_2395565367397976_6296537826779463680_o_2395565360731310.jpg") }} alt="Vignemale">

    <h1>Musique</h1>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/6EM-A3c50xA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oWfa7w6DiQc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock %}
