{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <h1>Sports de montagne,</h1>
    <img src={{ asset("vignemale1.jpg") }} alt="Vignemale">
    <img src={{ asset("vignemale2.jpg") }} alt="Vignemale">
    <img src={{ asset("vignemale3.jpg") }} alt="Vignemale">
    <h1>Musique</h1>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/6EM-A3c50xA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oWfa7w6DiQc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock %}
