{% extends "base.html.twig" %}


{% block body %}

        <h1>Create new message</h1>
        {{ form_start(form) }}

        {{ form_widget(form) }}

      <button type="submit">Mail</button>

        {{ form_end(form) }}

{% endblock %}