<form method="post" action="{{ path('app_etapes_pro_delete', {'id': etapes_pro.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etapes_pro.id) }}">
    <button class="btn">Delete</button>
</form>
